@charset "utf-8";

/************************************************************************************************************/
	/* page font */
* {
	font-family: Tahoma, Verdana, "Times New Roman";
	font-size: 9pt;
}

html {
	border: none;
	height: 100%;
}

body {
	background-image: url(../images/mainframe-bg.jpg);
	background-repeat: repeat-x;
	margin: 0px auto;
	padding: 0px;
	position: relative;
	text-align: center;
}

.bar {
	text-align: right;
	padding: 8px;
	color: blue;
}

#leftlayout {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	width: 99%;;
}

#centerlayout {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	width: 99%;
}

#rightlayout {
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	width: 99%;;
}

.dragAble {
	position: relative;
	cursor: move;
}

.button {
	width: 80px;
	height: 23px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #3A3A3A;
	border: 0px #999 solid;
	background-image: url(../images/query-button.png);
	cursor: pointer;
}

.button:hover {
	width: 80px;
	height: 24px;
	margin-left: 5px;
	font-weight: bold;
	color: #fff;
	border: 0px #999 solid;
	background-image: url(../images/button.jpg);
	background-repeat: repeat-x;
	cursor: pointer;
}

.upbutton {
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	BACKGROUND-IMAGE: url(../images/up.jpg);
	BORDER-LEFT: medium none;
	WIDTH: 18px;
	HEIGHT: 16px;
	BORDER-BOTTOM: medium none;
	BACKGROUND-REPEAT: no-repeat;
}

.downbutton {
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	BACKGROUND-IMAGE: url(../images/down.jpg);
	BORDER-LEFT: medium none;
	WIDTH: 18px;
	HEIGHT: 16px;
	BORDER-BOTTOM: medium none;
	BACKGROUND-REPEAT: no-repeat;
}

.btnImg {
	cursor: pointer;
	border: none;
}

.textbox {
	height: 22px;
	BORDER-RIGHT: #8DB6CD 1px solid;
	BORDER-TOP: #8DB6CD 1px solid;
	BORDER-LEFT: #8DB6CD 1px solid;
	BORDER-BOTTOM: #8DB6CD 1px solid;
	BACKGROUND-COLOR: #FFFFFF;
	padding: 2px;;
	BORDER-RIGHT: #8DB6CD 1px solid;
}

.textbox_err {
	height: 22px;
	BORDER-RIGHT: #8DB6CD 1px solid;
	BORDER-TOP: #8DB6CD 1px solid;
	BORDER-LEFT: #8DB6CD 1px solid;
	BORDER-BOTTOM: #8DB6CD 1px solid;
	BACKGROUND-COLOR: #ff0000;
	COLOR: #FFFF00;
	padding: 2px;
}

.textarea {
	BORDER-RIGHT: #8DB6CD 1px solid;
	BORDER-TOP: #8DB6CD 1px solid;
	BORDER-LEFT: #8DB6CD 1px solid;
	BORDER-BOTTOM: #8DB6CD 1px solid;
	BACKGROUND-COLOR: #FFFFFF;
	padding: 2px;
}

.textarea_err {
	BORDER-RIGHT: #8DB6CD 1px solid;
	BORDER-TOP: #8DB6CD 1px solid;
	BORDER-LEFT: #8DB6CD 1px solid;
	BORDER-BOTTOM: #8DB6CD 1px solid;
	BACKGROUND-COLOR: #ff0000;
	COLOR: #FFFF00;
	padding: 2px;
}

a.tablebutton {
	display: block;
	float: left;
	height: 18px;
	width: 60px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-weight: normal;
	background-color: #fff;
	background-image: url(../images/tablebutton.jpg);
	background-repeat: repeat-x;
	margin-left: 5px;
	padding-top: 10px;
}

a.tablebutton:link {
	border: 1px #999 solid;
}

a.tablebutton:hover {
	border: 1px #000 solid;
}

/** sort-table  begin*****************************/
.sort-table {
	font-family: Tahoma, Verdana, Times New Roman;
	font-size: 9pt;
	background-color: #B9CED3;
	border: 1px solid #B9CED3;
	border-collapse: collapse;
}

.sort-table thead {
	background: url(../images/tb_head.jpg) repeat-x;
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 13pt;
	font-weight: bold;
	border-top: none;
	border-bottom: none;
}

.sort-table thead  tr {
	text-align: center;
	height: 30px;
}

.sort-table thead  tr td {
	color: white;
	cursor: pointer;
	white-space: nowrap;
	border: 1px solid #B9CED3;
}

.sort-table tbody tr {
	height: 25px;
}

.sort-table tbody tr td {
	text-align: left;
	padding-left: 5;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid #B9CED3;
}

.sort-table tfoot {
	background-color: #fff;
	height: 30px;
}

.sort-table tfoot  tr td {
	background-image: url(../images/tb_foot.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-left: 5;
	right: auto;
	border-top: none;
	border-bottom: 2px solid #B9CED3;
}

/** sort-table  end**************************** */
	/** ************input-table2 begin *******************************/
.input-table {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: outset outset outset outset;
	border-color: #7099C5 #7099C5 #7099C5 #7099C5;
	border-collapse: collapse;
	background: url(../images/bg2.gif) left bottom repeat-x;
	background-color: #F8FDEF;

}

.input-table thead  tr {
	height: 35px;
	text-align: center;
}

.input-table thead  tr td {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-style: inset;
	border-color: #7099C5;
}

.input-table tbody tr td {
	text-align: left;
	padding-left: 5;
	padding-right: 2;
	padding-top: 2;
	padding-bottom: 2;
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: #7099C5 #7099C5 #7099C5 #7099C5;
	-moz-border-radius: 0px 0px 0px 0px;
}

.input-table tfoot  tr td {
	height: 35px;
	text-align: center;
	background-image: url(../images/Image000018.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	right: auto;
}

.input-table .column {
	padding-left: 5px;
	font-weight: bold;
}

.input-table .value {
}

/**************input-table2 end *******************************/
	/** ************input-table begin *******************************/
.input-table2 {
	margin-top: 20px;
	border: 1px solid #B9CED3;
	border-collapse: collapse;
}

.input-table2 thead  tr {
	height: 35px;
	background-image: url(../images/list_button_hover.jpg);
	background-repeat: repeat-x;
}

.input-table2 thead  tr td {
	font-size: 12px;
	font-weight: bold;
	color: blue;
	text-align: center;
}

.input-table2 tbody tr {
	height: 30px;
}

.input-table2 tbody tr td {
	text-align: left;
	padding-left: 5;
	padding-right: 2;
	padding-top: 2;
	padding-bottom: 2;
	background-color: #fff;
}

.input-table2 tfoot  tr {
	height: 40px;
}

.input-table2 tfoot  tr td {
	text-align: center;
	background-image: url(../images/workspacebg.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	right: auto;
}

.input-table2 .column {
	padding-left: 5px;
	font-weight: bold;
	background-color: #fff;
}

.input-table2 .value {
	background-color: #fff;
}

/**************input-table end *******************************/
	/*********************** search table begin*************************/
.search-table {
	border: 1px solid #B9CED3;
	padding: 3px;
}

.search-table thead tr {
	height: 30px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	background-image: url(../images/list_button_hover.jpg);
	background-repeat: repeat-x;
}

.panel {
	border: 1px solid #B9CED3;
	border-collapse: collapse;
	background-image: url(../images/sdd.bmp);
	background-repeat: repeat-x;
}

#head {
	background-image: url(../images/head-background.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 85px;
	position: relative;
	top: 0px;
	left: 0px;
	background-color: #fff;
	background-position: right top;
	z-index: 1;
}

#head #logo {
	width: 350px;
	height: 75px;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 5px;
}

#head #title {
	width: 400px;
	height: 75px;
	position: absolute;
	top: 15px;
	left: 15px;
	padding-right: 20px;
	text-align: left;
	color: white;
	font-size: 14pt;
	font-weight: bold;
}

/* menubar */
#head #menubar {
	background-image: url(../images/menu_background.gif);
	background-repeat: repeat-x;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#head #menubar #welcome {
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: right;
	padding-right: 10px;
}

#head #menubar font {
	line-height: 30px;
	color: #fff;
}

#head #menubar a {
	color: #fff;
	text-decoration: none;
}

#head #menubar a:hover {
	text-decoration: underline;
}

/* foot */
#foot {
	height: 30px;
	text-align: center;
	z-index: 1;
	border-top: 1px #999 dotted;
	line-height: 30px;
}

#position {
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	color: #999;
	border-bottom: 1px #999 dotted;
	padding-top: 5px;
}

#position_space {
	position: relative;
	height: 30px;
}

/************************************************************ add ****************************************************************************/
body {
	margin: 0;
	font-family: "宋体";
	font-size: 12px;
}

.main {
	margin: 5px;
	margin-top: -5px;
}

a {
	color: #003399;
	text-decoration: none;
}

a:hover {
	color: #003399;
	text-decoration: underline;
}

a.white {
	color: #ffffff;
	text-decoration: none;
}

a.white:hover {
	color: #ffffff;
	text-decoration: underline;
}

a.black {
	color: #000;
	text-decoration: none;
}

a.black:hover {
	color: #000;
	text-decoration: underline;
}

.table {
	width: 100%;
	background-color: Gray;
	margin-top: 10px
}

.table tr {
	background-color: #ffffff
}

.table td {
	padding-left: 4px;
	padding-right: 2px;
	height: 25px
}

.table .colName {
	text-align: right;
}

.table .content {
	text-align: left;
}

.table .buttom {
	text-align: center
}

.table .title {
	background-image: url(../images/titlebg.jpg);
	height: 35px;
	text-align: left;
	font-weight: bold;
	font-size: 14px
}

.table .title .word {
	float: left
}

.table .title .add {
	text-align: right;
	padding-right: 8px;
	font-size: 12px;
	font-weight: normal;
}

.table .header {
	background-color: #E0E0E0;
	height: 35px;
	font-weight: bold;
	font-size: 14px;
	font-style: oblique;
	text-decoration: underline
}

.pageNavagation {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center
}

.pageNavagation .tooptip {
	color: Red
}

.alert {
	color: Maroon
}

.message {
	color: Red
}

.gridView {
	border: 0px;
	background-color: Gray;
}

.gridView_HeaderStyle {
	height: 35px;
	text-align: center
}

.gridView_HeaderStyle_BgImage {
	height: 35px;
	text-align: center;
	background-image: url(../images/titlebg.jpg)
}

.gridView_RowStyle {
	background-color: #ffffff;
	height: 28px;
	text-align: center
}

.gridView_AlternatingRowStyle {
	background-color: #ffffff;
	height: 28px;
	text-align: center
}

.MultiLineTextBox {
	height: 60px;
	width: 70%
}

.LongTextBox {
	width: 65%
}